{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}">
    <meta charset="UTF-8">
    <title> Событие</title>
</head>
<script>
function clicked(e)
{
    if(!confirm('Вы уверены?')) {
        e.preventDefault();
    }
}
</script>
<body>
    <h1> {{ event.name }}</h1>
    <div>
        <p> Описание события:
        {% if event.description != '' %}
            {{ event.description }} </p>
        {% else %}
        Отсутствует </p>
        {% endif %}
        <p> Логотип события:
        {% if event.logo != '' %}
        </p><img src="{{ event.logo.url }}" alt="img_error" style="max-height:300px">
        {% else %}
        Отсутствует </p>
        {% endif %}
        <p> Статус события: {{ event.status }}</p>
        </p>
        <p> Дата начала события: {{ event.data_start }} </p>
        <p> Дата конца события: {{ event.data_end }} </p>
        <p> Место проведения: {{ event.city }} </p>
    </div>
    {% if user_events %}
    <div>
        <h2>Участники</h2>
        {% for uevent in user_events %}
            <p>{% include 'event/userevent.html' %}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div>
        {% if request.user.id == event.user_id or request.user.is_superuser %}
        <a href="{% url 'updateevent' event.pk %} ">Редактировать мероприятие</a>
        <a href="{% url 'deleteevent' event.pk %} " onclick="clicked(event)">Удалить</a>
        {% endif %}
        <a href="{% url 'signevent' event.pk %} ">Учавствовать</a>
        <a href="{% url 'index' %} ">Назад</a>
    </div>
</body>
</html>