{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}">
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <h1>Страница регистрации на события</h1>
        <div>
            {% if user.is_authenticated %}
                <p>Здравствуй, {{ user.first_name }}!</p>
                <p><a href="{% url 'update_user' %}">Изменить данные</a></p>
                <p><a href="{% url 'logout' %}">Выйти из аккаунта</a></p>
              {% else %}
                <p>You are not logged in.</p>
                <p><a href="{% url 'login' %}">Войти в аккаунт</a></p>
                <p><a href="{% url 'signup' %}">Создать учетную запись</a></p>
              {% endif %}
        </div>
        <div>
        {% for event in events %}
            <p>{{ event.name }}
                <a href="{% url 'by_event' event.pk %}">Подробнее</a>
                <a href="{% url 'signevent' event.pk %} ">Учавствовать</a>
                <a href="{% url 'deleteevent' event.pk %} ">Удалить</a>
            </p>
        {% endfor %}
        </div>
        <p><a href="{% url 'newevent' %}">Создать событие</a></p>
</body>
</html>