{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}">
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<script>
function clicked(e)
{
    if(!confirm('Вы уверены?')) {
        e.preventDefault();
    }
}
</script>
<body>
    <h1>Страница регистрации на события</h1>
        <div>
            {% if user.is_authenticated %}
                <h2>Здравствуй, {{ user.first_name }} {{ user.last_name }}!</h2>
                <p><a href="{% url 'by_account' request.user.id %}">Мой аккаунт</a></p>
                <p><a href="{% url 'logout' %}">Выйти из аккаунта</a></p>
              {% else %}
                <h2>Вы не вошли в аккаунт</h2>
                <p><a href="{% url 'login' %}">Войти в аккаунт</a></p>
                <p><a href="{% url 'signup' %}">Создать учетную запись</a></p>
              {% endif %}
        </div>
        <div>
            <h2><u>Мероприятия:</u></h2>
            {% for event in events %}
                {% include 'event/preevent.html' %}
            <hr/>
            {% endfor %}
            <h2><u>Мои мероприятия:</u></h2>
            {% for event in user_event %}
                {% include 'event/preevent.html' %}
            <hr/>
            {% endfor %}
            <p><a href="{% url 'newevent' %}">Создать событие</a></p>
        </div>
</body>
</html>