{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}">
    <meta charset="UTF-8">
    <title>Редактировать участника</title>
</head>
<body>
    <div>
        <h2>Редактирование участника {{ users.user.first_name }} {{ users.user.last_name }} {{ users.second_name }} ({{ users.user.username }})</h2>
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
            <p><a href="{% url 'deleteuserevent' ue_id %}">Удалить участника</a></p>
            <p><a href="{% url 'index' %}">Назад</a></p>
        </form>
    </div>
</body>
</html>