{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}">
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <div>
      <h2>Обновить данные</h2>
      <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ user_form.as_p }}
            {{ users_form.as_p }}
          <button type="submit">Сохранить изменения</button>
          <p><a href="{% url 'index' %}">Назад</a></p>
      </form>
    </div>
</body>
</html>
